.logo{
    
    width: 180px;
}

.button{
    background-color:#21B573;
    color: #ffffff;
    border: none;
    border-radius: 40px;
    padding: 9px 25px;
    cursor: pointer;
    font-family: Roboto;
    margin-left: 23px;
}
.font{
    font-family: Poppins;
}
.section-1{
   background-color: #F0FFF0;
   margin-bottom: 40px;
  
}
.img{
    margin-top: 0;
    width: 80px;
    margin-bottom: 30px;
}
h5{
    margin-top: 20px;
    font-family: Poppins;
}
.margin-bottom{
    margin-bottom: 60px;
}
.card1{
    margin-top: 0;
}
.col{
    margin-top: 0;
    margin-bottom: 81px;
    border-radius: 10px;
}
.border{
    border-radius: 40px ;
}
.margin-right{
   margin-right: 23px;
}
.testimonial{
    margin-bottom: 81px;
}